<%= form_for(@calender, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @calender.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@calender.errors.count, "error") %> prohibited this calender from being saved:</h4>

      <ul>
      <% @calender.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label '行事曆名稱', class: "col-sm-2 control-label"  %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" ,placeholder: '#積積陰陰德' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label '是否先上架', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :public, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "確認新增" , class: "btn btn-primary sharp" %>
    </div>
  </div>
<% end %>
