<div class="container">
  <div class="page-header">
    <h1>探索行事曆</h1>


  <form class="form-inline fright" action="">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="exampleInputAmount" value="<%= params[:q]%>" name="q">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">搜尋</button>
  </form>
  </div>

      <div class="row">
        <%= content_tag_for(:tr, @calenders) do |calender| %>
        <div class="col-sm-6 col-md-4">
          <div class="bluethumbnail">
            <div class="smallimg">
              <%= link_to calender do%>
                <img src="http://i.imgur.com/Ew5EtzA.jpg" alt="..." class="img-responsive">
              <% end %>
            </div>
            <ul class="housemain">
                <li class="calname"><%= link_to calender.name, calender %></li>
                <li class="green01">作者：<%= link_to calender.user, calender.user %></li>
                <!-- <li class="green02"><%= calender.public %></li> -->
                <li class="green02">更新：<%= l(calender.created_at, format: :date) %></li>
                <li class="fright padtop"><button type="button" class="btn btn-default"><i class="fa fa-cloud-download"></i> 下載</button></li>

            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <% end %>
      </div>
</div>

