<div class="container">
  <div class="page-header">
    <%= link_to new_calender_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      新增行事曆
    <% end %>
    <h1>探索行事曆</h1>
  </div>
      <div class="row">
        <%= content_tag_for(:tr, @calenders) do |calender| %>
        <div class="col-sm-6 col-md-4">
          <div class="bluethumbnail">
            <div class="smallimg">
            <img src="http://i.imgur.com/Ew5EtzA.jpg" alt="..." class="img-responsive">
            </div>
            <ul class="housemain">
                <li><h4><%= calender.name %></h4></li>
                <li class="green01">作者<%= calender.user %></li>
                <li class="green02"><%= calender.public %></li>
                <li class="green02">創立於：2015/05/08</li>


            </ul>
            <div class="clear"></div> 
          </div>
        </div>
        <% end %>
      </div>

</div>
