<div class="container">

  <div class="page-header">
    <%= link_to :back, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      返回
    <% end %>
    <%= link_to calender_path(@calender, format: :ics), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-calendar"></span>
      匯出
    <% end %>
    <% if current_user.id == current_user %>
      <%= link_to edit_calender_path(@calender), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        修改行事曆名稱
      <% end %>
    <% end %>

    <%= link_to calender_events_path(@calender), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-edit"></span>
      我要共筆事件
    <% end %>
    <h1><%= @calender.name %> <a target="_blank" href="http://www.facebook.com/share.php?u=<%= calender_url(@calender) %>"><%= image_tag 'fb_pic.png', alt: '分享到 FB', border: 0, width: 20 %></a></h1>
  </div>
  <div id="calendar" data-path="<%= calender_events_path(@calender, format: :json)%>"></div>
</div>


<%= text_area_tag nil, content_tag(:iframe, nil, width: 560, height: 315, src: calender_embeded_url(@calender)), cols: 150 %> 