<div class="container">

  <div class="page-header">
    <%= link_to :back, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      返回
    <% end %>
    <%= link_to calender_path(@calender, format: :ics), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-calendar"></span>
      匯出
    <% end %>
    <% if current_user.id == current_user %>
      <%= link_to edit_calender_path(@calender), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        修改行事曆名稱
      <% end %>
    <% end %>

    <%= link_to calender_events_path(@calender), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-edit"></span>
      我要共筆事件
    <% end %>

    <h1><%= @calender.name %></h1>
  </div>
  <div id="calendar" data-path="<%= calender_events_path(@calender, format: :json)%>"></div>
</div>
